@font-face {
	font-family: "ProximaNova";
	src: url(ProximaNovaRegular.otf);
}

body {
	background-color: black;
}

#container {
	background-color: black;
    color: white;
    font-family: "ProximaNova";
}

#headtext {
	font-size: 60px;
	margin-left: 30px;
	color: #648F00;
}

#header {
	color: #648F00;
	border-bottom: 4px #1C1C1F solid;
	margin-top: 2px;
}

#fullplay{
	height: 600px;
	overflow-y:scroll;
	float: left;
}

#playlist {
	height: 100px;
	width: 730px;
	list-style-type: none;
	font-size: 35px;
	background-color: #1C1C1F;
	padding-top: 20px;
	margin-left: 20px;
	padding-left: 20px;
	border-bottom: 2px black solid;
}